@font-face {
    font-family: "Figtree";
    font-weight: 700;
    src: url(../assets/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: "Figtree";
    font-weight: 400;
    src: url(../assets/static/Figtree-Medium.ttf);
}