$yellow: #F4D04E;
$gray950: #111111;
$gray500: #6B6B6B;
$white: #FFFFFF;

html {

}

body {
    background-color: $yellow;
}

h1, h2, h3, h4, h5 {
    line-height: 150%;
}

p {
    line-height: 150%;
}